POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=touribook_catalog

JWT_SECRET_KEY=change-me
INTERNAL_API_KEY=dev-internal-key-change-me

AUTO_CREATE_TABLES=True

# Garde suppression (vérifie les réservations)
BOOKING_SERVICE_URL=http://localhost:8003
