POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=touribook_booking

JWT_SECRET_KEY=change-me
INTERNAL_API_KEY=dev-internal-key-change-me

CATALOG_SERVICE_URL=http://localhost:8002
AUTO_CREATE_TABLES=True
AUTH_SERVICE_URL=http://localhost:8001
NOTIFICATION_SERVICE_URL=http://localhost:8006
